@inherits ViewPage<DoorResponse>

@{
    ViewBag.Title = string.Format("Door Competition - Door {0}",Model.DoorID);
}

<div id="door-content">

</div>
<table>
    <tr >
        <td width="30%">@Model.DoorDetails.Description</td>
        <td width="50%" rowspan="2" ><img src="@Model.Picture.FullSizeURL" style="vertical-align: middle;"></td>
        <td width="20%" rowspan="2" >
            <div style="vertical-align:middle">
                <p><a href="@Model.VoteURL">Vote</a></p>
                <p><a href="@Model.ClaimURL">Claim</a></p>
                @if(null != @Model.ClaimDetails && !string.IsNullOrEmpty(@Model.ClaimDetails.Name)) {
                    <p>Claimed by: @Model.ClaimDetails.Name</p>                
                }
            </div>
        </td> 
    </tr>
    <tr >
        <td width="30%">@Model.DoorDetails.Location</td>
    </tr>    
</table>

<script id="door-template" type="text/x-handlebars-template">

</script>
