@inherits ViewPage<DoorsResponse>

@{
    ViewBag.Title = string.Format("{0} Door Competition - Doors",Model.Event.Code);
}

These are the decorated doors for @Model.Event.Code.
<table>
    <tr>
        <th>Door</th>
        <th>Actions</th>
    </tr>
@foreach(var p in Model.Pictures) {
    <tr>
        <td><a href="/Door/@Model.Event.Code/@p.ID"><img src="@p.ThumbnailURL" alt="Door @p.ID" /></a></td>
        <td>
            <div style="vertical-align:middle">
                <p><a href="@Model.VoteURL[p.ID]">Vote</a></p>
                <p><a href="@Model.ClaimURL[p.ID]">Claim</a></p>
            </div>
        </td>
    </tr>
}
</table>