@inherits ViewPage<DoorsResponse>

@{
    ViewBag.Title = string.Format("{0} Door Competition - Doors",Model.Event.Code);
}

These are the decorated doors for @Model.Event.Code.
<table>
    <tr>
        <th>Owner</th>
        <th>Door</th>
        <th>Actions</th>
    </tr>
@foreach(var p in Model.Pictures) {
    <tr>
        <td>@p.ID</td>
        <td><a href="/Door/@Model.Event.Code/@p.ID"><img src="@p.ThumbnailURL" alt="Door @p.ID" /></a></td>
        <td>
            <p><a href="@Model.VoteURL[p.ID]">Vote</a></p>
            <p>Claim</p>
        </td>
    </tr>
}
</table>